body {
  background-color: #8b9a9f;
}
.container {
  min-height: 90vh;
  max-width: 85vw;
  background-color: #fff;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.2),
    3px 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.row1 {
  min-height: 30vh;
  width: 85%;
  display: flex;
  margin: 30px auto;
  margin-top: 60px;
}
.inputFieldContainer {
  height: 200px;
  width: 80%;
  margin: 10px;
  background-color: #adbdc2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inputImageContainer {
  height: auto;
  width: 20%;
  margin: 0px;
}

.textField {
  margin: 0px 20px;
  height: auto;
  width: 40%;
}
.textField input {
  font-size: 18px;
  background-color: #8b9a9f;
}

.textField > input::placeholder {
  color: black;
  background-color: black;
}
.link {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 55%;
  position: relative;
  top: 15px;
}
.textBalls {
  width: 100%;
  margin: 5px auto;
  padding: 0px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.balls {
  height: 60px;
  width: 45px;
  color: black;
  position: relative;
  top: -40px;
}
.linkBorder {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #8b9a9f;
  position: relative;
  top: 50px;
}
.linkBorderWithData {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #4b8fa5;
  position: relative;
  top: 50px;
}
.linkBorder:hover,
.linkBorderWithData:hover {
  background-color: #adbdc2;
  cursor: pointer;
  transition: 0.3s ease;
}
.balls i {
  height: 0px;
  width: 0px;
  font-size: 30px;
  position: relative;
  top: 7.5px;
  left: 7.5px;
}
.pasteLink {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.toolTip {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  background-color: #8b9a9f;
  font-size: small;
  display: inline-block;
  position: relative;
  top: -99px;
  visibility: hidden;
}
.toolTip > input {
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background-color: #8b9a9f;
  color: black;
}
.toolTip > input::placeholder {
  color: black;
}
.balls:hover .toolTip {
  visibility: visible;
}
.toolTip::before {
  content: "";
  position: relative;
  top: 94%;
  left: 7%;
  border: 8px solid;
  border-color: #8b9a9f transparent transparent transparent;
}

.imageHolder {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  background-color: #adbdc2;
  background-size: contain;
  position: relative;
  top: 40px;
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: contain;
}
.imageHolder:hover {
  opacity: 0.6;
  cursor: pointer;
}
.takeImage {
  height: 12vw;
  max-width: 12vw;
  border-radius: 50%;
  font-size: 25px;
  color: black;
  opacity: 0;
  position: relative;
  top: 3vw;
  left: 2vw;
}
.imageHolder:hover .takeImage {
  opacity: 1;
}
.imageHolder input {
  display: none;
}
.takeImage i {
  color: black;
  font-size: 30px;
  background-color: transparent;
}
.spinner {
  height: 10vw;
  position: absolute;
  padding: 10px;
}

.horizontalLine {
  width: 90%;
  margin: 30px auto;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 0.1rem;
  word-spacing: 0.2rem;
}
.horizontalLine span {
  padding: 10px 15px;
  font-size: 30px;
  background-color: white;
  font-weight: bold;
}
.row2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}
.row2 > div {
  height: auto;
  width: 100%;
}
.button {
  width: 100px;
  margin: auto;
  background-color: #adbdc2;
  height: 40px;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  margin-bottom: 10px;
}
.button:hover {
  cursor: pointer;
  background-color: #8b9a9f;
}
