.addBox {
  height: auto;
  margin-bottom: 30px;
  background-color: transparent;
  padding-left: 20px;
}
.addBox input:nth-last-child(1) {
  margin-bottom: 20px;
}
.addBox input:nth-child(1) {
  margin-top: 10px;
}
.moreInfo {
  background-color: rgb(65, 65, 65);
  height: auto;
  border-radius: 5px;
  border-bottom: 3px solid black;
  flex-direction: column;
  margin-bottom: 25px;
  padding-top: 10px;
  transition: 0.5s;
}
.moreInfo input {
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 92%;
  padding-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  background: none;
  color: white;
}
.moreInfo input::placeholder {
  color: rgb(190, 187, 187);
}

.moreInfo:hover {
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2),
    2px 3px 5px 0 rgba(0, 0, 0, 0.226);
}

.inputFields {
  height: 140px;
}

.plus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  margin: auto;
  position: relative;
  top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.397);
}
.plus:hover {
  transition: 0.5s ease;
  cursor: pointer;
  background-color: #adbdc2;
}

.minus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  left:90%;
  border: 2px solid rgba(0, 0, 0, 0.397);
  color:gray;
}
.minus:hover {
  transition: 0.5s ease;
  cursor: pointer;
  color: black;
  background-color: #adbdc2;
}

.heading {
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: underline;
}
