body{
  background-color:#8b9a9f;
}
.container{
  min-height: 90vh;
  max-width: 85vw;
  background-color: #fff;
  margin:30px auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 7px 8px 10px 0 rgba(0, 0, 0, 0.2),
    5px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row1{
  height: auto;
  width: 85%;
  display: flex;
  margin: 10px auto ;
}
.inputFieldContainer{
  height: auto;
  width:80%;
  margin:10px;
  background-color: #adbdc2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.inputImageContainer{
  height: auto;
  width: 20%;
  margin:0px;
}

.textField{
  margin:0px 20px;
  height: auto;
  width: 40%;
}
.textField input{
  font-size: 18px;
}
.link{
  display: flex;
  flex-direction: column;
  height: auto;
  width:55% ;
}
.textBalls {
  width: 100%;
  margin: 5px auto;
  padding: 0px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.balls {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 4.7px 4.5px;
  background-color: #8b9a9f;
  font-size: 33px;
  color: black;
}
.balls:hover {
  background-color: #adbdc2;
  cursor: pointer;
  transition: 0.3s ease;
}
.balls i {
  height: 0px;
  width: 0px;
  background-color:blue
}
.pasteLink{
  text-align: center;
  margin-top:10px;
  font-size: 25px;
}
.toolTip {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  background-color: #8b9a9f;
  font-size: small;
  display: inline-block;
  position: relative;
  top: -99px;
  visibility: hidden;
}
.toolTip>input {
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background-color: #8b9a9f;
  color: black;
}
.toolTip>input::placeholder{
  color:black
}
.balls:hover .toolTip {
  visibility: visible;
}
.toolTip::before {
  content: "";
  position: relative;
  top: 94%;
  left: 7%;
  border: 8px solid;
  border-color: #8b9a9f transparent transparent transparent;
}
.imageHolder {
  height: 14vw;
  max-width: 14vw;
  border-radius: 50%;
  margin:auto;
  background-color:#adbdc2;
  background-size: contain;
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: contain;
}
.imageHolder:hover {
  opacity: 0.6;
  cursor: pointer;
}
.takeImage {
  height: 15vw;
  max-width: 15vw;
  border-radius: 50%;
  background-color: transparent;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: 0;
}
.imageHolder:hover .takeImage {
  opacity: 1;
}
.imageHolder input {
  display: none;
}
.takeImage i {
  color: black;
  font-size: 30px;
  background-color: transparent;
}
.horizontalLine{
  width: 90%;
  margin: 30px auto;
  border-bottom:2px solid black;
  text-align: center;
  line-height:0.1rem;
  word-spacing:0.2rem;
}
.horizontalLine span{
  padding:10px 15px;
  font-size: 30px;
  background-color: white;
  font-weight: bold;
}
.row2{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.row2 >div{
  height: auto;
  width: 35%;
}