@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Source+Sans+Pro&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.T1{
    height:700px;
    width:600px;
    background-color: rgb(240, 239, 239);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
}
.header{
    background-color: rgb(19, 107, 109);
    height:130px;
    width:100%;
}
.profile-photo{
    height:130px;
    width:130px;
    border-radius: 50%;
    background-color: rgb(26, 23, 23);
    margin-top: -80px;
}
.details h1{
    text-align: center;
    font-size: 22px;
}
.details p{
    text-align: center;
    font-size: 15px;
    line-height: 1%;
    margin-top: -18px;
}
.social-links{
    display: flex;
    flex-direction: row;
}
.social-links ion-icon{
    padding-left:40px;
    padding-top: 20px;
    padding-right: 40px;
    font-size: 30px;
}
.education{
    height:auto;
    width:80%;
    border:1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills{
    height:100px;
    width:80%;
    border:1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.experience{
    height:100px;
    width:80%;
    border:1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-more{
    font-size: 20px;
}
.footer{
    margin-top:20px;
    height:40px;
    width: 100%;
    background-color:rgb(19, 107, 109); 
}

