
*{
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 30vw 15vw 15vw 15vw;
  height: 100vh;
  width: 100vw;
}
.innerContainer{
  height: 100vh;
  max-width: 30vw;
  background-color: #003147;
  overflow-y: scroll;
}
.template_info {
  max-width: 70vw;
  background-color: white;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 6px;
  border-right: 1px solid #003147;

}

.all_templates {
  display: flex;
  margin:60px 20px;
  height: 100px;
  justify-content: space-between;
}
.all_templates > div {
  max-width: 650px;
  height: 80vh;
  margin:0px -140px;
  transform: scale(0.5);
}
.all_templates >div:nth-child(3){
  margin:-75px -160px;
  transform: scale(0.5) !important;
}


.arrow ion-icon {
  position: absolute;
  top:45vh ;
  left:95%;
  font-size: 60px;
  color: #003147;
}
.arrow:hover{
  cursor: pointer;
}

.each_info {
  background-color: transparent;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.personal {
  margin-top: 40px;
  padding-left: 40px;
}

.each_info input {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.textFields {
  height: auto;
  width: 65%;
  margin: 15px auto;
  background-color: transparent;
}
.textFields input {
  height: auto;
  width: 100%;
  font-size: small;
  padding: 8px; 
  margin: 8px;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid black;
}
.updateDetails{
  height:35px;
  max-width: 120px;
  background-color:rgb(42, 133, 185); 
  color: lightgray;
  font-size: 20px;
  padding:0px 10px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: 0.2s;
  margin:0px 38%;
}

.updateDetails:hover{
  background-color:lightgray; 
  color: rgb(42, 133, 185);
}




/* media queries*/
@media only screen and (max-width:1200px){
.textFields input {
  font-size: larger;
}
}
@media only screen and (max-width:950px){
  .textFields input {
    font-size: larger;
  }
}
@media only screen and (max-width:700px){
  .textFields input {
    font-size: small;
  }
.plus{
  background-color:rgb(104, 168, 206);
  margin: 15px auto 15px;
  color: white;
}
}  


