@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Source+Sans+Pro&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.T3{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.upper_part{
    position: relative;
    width: 600px;
    max-height: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 35px 55px rgba(0,0,0,0.1);
}
.container{
    position: relative;
    background-color: #fff;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    box-shadow: 0px 35px 55px rgba(0,0,0,0.1);

}
.lower_part{
    position: relative;
    max-width: 700px;
    height: 800px;
    background-color: #fff;
    display: grid;
    grid-template-rows:1fr 5fr;
    box-shadow: 0px 35px 55px rgba(0,0,0,0.1);
}
.container .left_side{
    background-color: #003147;

}
.profile_details{
    margin-top: 60px;

}
.profile_photo{
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
}
.profile_photo img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:10% 0%;
}
.profile_details h2{
    font-size: 2.5rem;
    text-transform:uppercase;
    text-align: center;
    font-weight: 600;
    line-height:1.4rem;

}
.profile_details p{
    font-size:1.5rem;
    font-weight: 300;
    line-height:0.1rem;
    text-align: center;
}
.links ul{
    position:relative;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
}
.links ul li{
    position:relative;
    list-style:none;
    padding-top:50px;
    cursor:pointer;
    text-align: center;
}
.links ul li .icon{
    width:30px;
    font-size: 40px;
    color:white;
    vertical-align: middle;
}

.container .right_side{
    position: relative;
    background-color: #fff;
    padding:40px;
}
.right_side .education{
    margin-bottom: 20px;
}
.right_side .skills{
    margin-bottom: 20px;
}
.right_side .experience{
    margin-bottom: 20px;
}
.T3_container{
    display:flex;
    justify-content: space-between;
}
.T3_container h5{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.T3_container ion-icon{
    vertical-align: middle;
    padding-right: 5px;
}
.T3_container .add-more{
    font-size:23px;
}
@media (max-width:900px){
    .T3{
        transform:scale(0.4);
    }
    
}


